div(class="span3 well")
  ul(class="nav nav-list")
    li(class="nav-header")
      | Navigation
    if (modules.pages)
      each navPage in navPages
        li
          p
            - if ((navPage.restricted && objUser.isAuthed()) || navPage.restricted == false)
              a(href=navPage.url)
                i.icon-chevron-right
                | #{navPage.title}
              - if (objUser.checkRights('CP'))
                | &nbsp;
                a(href="#{globals.href.admin}page/#{navPage.id}/edit")
                  i.icon-edit
                a(href="#{globals.href.admin}page/#{navPage.id}/delete")
                  i.icon-trash
